/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust:     100%;
}

body {
  margin: 0;

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;

}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
*************
* = Work Content
*************
*/
.work-container {
  background-color: #efefef;

}


#services {
  padding-top: 1%;
  font-size: 2.5em;
  color: #000;
  font-family: 'Droid Sans Mono';
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}


/*home page grid*/
#testcontainer{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
   justify-content: center;

}

#item1 {
  padding: 1%;
}

#item2 {
  padding: 1%;
}





@media screen and (max-width: 960px) {
    #testcontainer {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      justify-content: center;
    }

    #item2{

      display: flex;
      justify-content: center;

    }

    #item1{
      display: flex;
      justify-content: center;

    }
}

/*end of grid*/

img {
  height: 100%;
  width: 100%;
}

/*
*************
* =Overlay
*************
*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;


}

.media {
  display: inline-block;
  position: relative;
  vertical-align: top;

}

.media__image { display: block; }

.media__body {
  background: #101423;
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 3em 3em;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-family: 'Roboto Mono'

}

.media__body:hover { opacity: 1; }

.media__body:after,
.media__body:before {
  border: 1px solid rgba(255, 255, 255, 0.7);
  bottom: 1em;
  content: '';
  left: 1em;
  opacity: 0.7;
  position: absolute;
  right: 1em;
  top: 1em;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.6s 0.2s;
  transition: 0.6s 0.2s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}

.media__body:before {
  border-bottom: none;
  border-top: none;
  left: 2em;
  right: 2em;

}

.media__body:after {
  border-left: none;
  border-right: none;
  bottom: 2em;
  top: 2em;
}

.media__body:hover:after,
.media__body:hover:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

}


.media__body h2 { margin-top: 0;
color: #69bd45;
font-family: inherit;
font-size: 2.3vh;
}

.media__body p {
  font-family:'Roboto Mono';
  font-size: 1.4vh;
  color: #fff
}








.media:nth-child(2) .media__body { background: rgba(16, 20, 35, 0.9); }

.media:nth-child(3) .media__body { background: rgba(16, 20, 35, 0.9); }

.media:nth-child(4) .media__body { background: rgba(16, 20, 35, 0.9); }

.media:nth-child(5) .media__body { background: rgba(16, 20, 35, 0.9); }

.media:nth-child(6) .media__body { background: rgba(16, 20, 35, 0.9); }


/*
*************
* =Be creative
*************
*/
h1, p {
  text-align: center;
  color: #2f2d2e;
}
.work-text h2{

  padding-top: 2%;
  font-size: 2.5em;
  color: #000;
  font-family: inherit;


}

.work-text p {
  padding-top: 1%;
  max-width: 40em;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto Mono';
  font-weight: 400;
  padding-bottom: 1%;
}






.desktop-site {
   margin: 0 auto;
    width: 800px;
    max-width: 90%;

}

@media all and (max-width: 960px){

  .work-text p {
    max-width: 90%;
  }
  .desktop-site {
    display: none;
  }

  .be-fold-item1 {
  max-width:100%;
  margin: 0 auto;
}


}



.desktop-site img {

  width: 100%;
  height: auto;
  padding: 1%;



}

.desktop-site-mobile {
   margin: 0 auto;
    width: 427px;
    max-width: 90%;

}

.desktop-site-mobile img {

  width: 100%;
  height: auto;
  padding: 1%;



}
@media all and (min-width: 960px){

.desktop-site-mobile {
  display: none;
  }

  .be-fold-item1 {
    max-width:100%;
    margin-right: 7%;
}
}




/*
*************
* = Offshore rides
*************
*/


.offshore-fold-item {

  max-width: 100%;

}

@media all and (max-width: 800px){
  .offshore-fold-item{
    display: none;
  }
}


@media all and (min-width: 800px){
  .offshore-fold-mobile{
    display: none;
  }
}


.offshore-logo {
   margin: 0 auto;
    width: 600px;
    max-width: 90%;

}
.mobile-site {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}



.two-rows {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;

}

.offshore-phones{
  margin: 2%;
}


.desktop-site-offshore {
   margin: 0 auto;
    width: 960px;
    max-width: 90%;

}

@media all and (max-width: 960px){


.desktop-site-offshore {
    display: none;
  }
}



.desktop-site-offshore img {

  width: 100%;
  padding: 1%;

}

.desktop-site-mobile-offshore {
   margin: 0 auto;
    width: 800px;
    max-width: 90%;

}

.desktop-site-mobile-offshore img {

  width: 100%;
  padding: 1%;



}
@media all and (min-width: 960px){

.desktop-site-mobile-offshore {
  display: none;
  }
}


.background {
          background-color: #E0EBE8;

  }

/*
*************
* =Birdy
*************
*/
.desktop-site-bird {
   margin: 0 auto;
    width: 1200px;
    max-width: 90%;

}

.desktop-site-bird img {

  width: 100%;
  padding: 1%;

}

@media all and (max-width: 960px){


.desktop-site-bird {
    display: none;
  }
}




  /*
  *************
  * =Workflow
  *************
  */

  .workflow {
   margin: 0 auto;
    width: 600px;
    max-width: 90%;

}

.workflow-top {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 3em;
  font-size: 1.1em;
   font-family: Futura;

}

.workflow-words{
  text-align: center;
  margin-bottom: 0px;
  font-size: 1.1em;
   font-family: Futura;
}

.more-work {
  padding: 1%;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #2f2d2e;
  font-size: 20px;
  /*background: #101423;*/
  padding-top: 2px;
  text-decoration: none;
  width: 8em;
  height: 2em;
  margin: 0 auto;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
  border: solid 2px;
  border-color: #101423;

}

.btn:hover {
 opacity: 0.7;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: all 0.5s ease;
}




/*
*************
* =About
*************
*/
#hero-about {

 max-width: 100%;
 padding-bottom: 1%;
}

.headshot {

 max-width: 10em;
 margin: 0 auto;
}

.headshot img {
  border:1px solid #;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.about-text h2{

  padding-top: 1%;
  font-size: 2.5em;
  color: #000;
  font-family: inherit;


}

.about-text p {
  max-width: 40em;
  margin: 0 auto;
  text-align: left;
  font-size: 1.1em;
  font-family: 'Roboto Mono';
  font-weight: 400;
  padding-bottom: 2%;
}

@media all and (max-width: 800px){

  .about-text p{
  max-width: 90%;
}

}

/*
*************
* = contact page
*************
*/

.contact-text h2{

  padding-top: 2%;
  font-size: 2.5em;
  color: #000;
  font-family: inherit;


}

.contact-text p {
  padding-top: 2%;
  max-width: 40em;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto Mono';
  font-weight: 400;
  padding-bottom: 1%;
}

.contact-text a {

  font-family: 'Roboto Mono';
  font-size: 1.2em;
  font-weight: 600;

}

.form-heading p {
  max-width: 40em;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto Mono';
  font-weight: 400;


}

@media all and (max-width: 800px){

  .contact-text p{
  max-width: 90%;
}

}

.form-containter {
    display:block;
    margin:0 auto;
    width:576px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: #999;
    max-width: 96%;
}


/* Labels are titles for the text fields. You can use a placeholder instead if you like*/
label
{
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Centres the form within the page */
form
{
    margin:0 auto;
    width:459px;
    max-width: 90%;
}

/* Styles the text boxes */
input, textarea, file {
  width:439px;
  height:40px;
  background-color:#fff;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:1px solid #36434c;
  padding:10px;
  margin-top:3px;
  font-size:0.9em;
  color:#3a3a3a;
  max-width: 96%;
}

  input:focus, textarea:focus {
    border:1px solid ;
  }

/* Styles the text area boxes (message field) */
textarea
{
  height:213px;
  background-color: #fff;
    max-width: 96%;
}


/* Styles the submit button */
#submit {
  /* background:url(images/submit.png); */
  width:127px;
  height:48px;
  text-align: center;
  /* text-indent:-9999px; */
  border:1px solid #36434c;
  margin-top:20px;
  cursor:pointer;
  margin-bottom: 10px;
}

/* Styles the submit hover */
#submit:hover {
  color:#fff;
  background-color: #69bd45;
  opacity:0.9;
}

 /*
  *************
  * =flexing
  *************
  */

#main {
   margin: 0;
   padding: 0;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row;
   flex-flow: row;
   justify-content: center;
}

header,
footer,
#main > article,
#main > nav,
#main > aside {

   padding: 1em;
}

#main > article {

   -webkit-flex: 0 0 55
   %;
           flex: 0 0 55%;
   -webkit-order: 2;
           order: 2;
           flex-direction: row;

}

#main > nav{

   -webkit-flex: 0 0 20%;
           flex: 0 0 20%;
}


#main > aside {

   -webkit-flex: 0 0 15%;
           flex: 0 0 15%;
}
#main > nav {
   -webkit-order: 1;
           order: 1;

}

#main > aside {
   -webkit-order: 3;
           order: 3;

}







  @media all and (max-width: 1000px) {
    .fold-item2 {
    display: none;
}

  }
 @media all and (max-width: 900px) {
#main > aside {
    display: none;
}



}
/* Too narrow to support three columns */
  @media all and (max-width: 900px) {





   #main, #page {
    -webkit-flex-flow: column;
            flex-flow: column;
}

   #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    -webkit-order: 2;
            order: 2;
   }

       #main > nav {
   -webkit-order: 0;
           order: 0;
           margin-bottom: 0;
}

        #main  {
   -webkit-order: 1;
           order: 1;

}

#main > article {
    display: flex;
  justify-content: center;
    margin-top: 0;

}

/*   #main > nav, #main > aside, header, footer {
    min-height: 50px;

   }*/
}

  @media all and (min-width: 900px) {
#main article {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}


}




.fold-item1 {
  max-width:100%;
  margin-right: 7%;
}

.fold-item2 {
  max-width:100%;

}

.left-right{
  text-align: center;
  margin-bottom: 2%;
}

.button {
    background-color:#101423;
    border: none;
    color: #69bd45;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 0px;
    cursor: pointer;


}

.btn {
  font-family: inherit, serif;
}


/*
*************
* =back to top
*************
*/
.backtotop {
    text-align: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.fa-chevron-up:before {
    color: #101423;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

.backtotop a:hover {
    color: #101423;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

/*
*************
* =footer
*************
*/

footer {
    background-color: #101423;
    text-align: center;
    clear: both;

}

footer p {
    color: #69bd45;
    font-weight: 400;
    font-size: 0.7em;
    font-family: 'Roboto Mono';

}

footer i {
    color: #69bd45;
    padding-left: 0.5em;
}

footer i:hover {
    color: inherit;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: all 0.5s ease;

}

@media screen and (max-width: 480px) {
    footer  {
        font-size: 0.8em;
    }
}



hr {
  width: 15em;
  opacity: 0.4;
}
