/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust:     100%;
}

body {
  margin: 0;

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;

}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


/*
*******************************************
* =Style.CSS
*******************************************
*/

body {
  opacity: 1;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  line-height: 1.6;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  margin: 0;
  background-color: #f9f7f7;
}



body.fade-out {
    opacity: 0;
    -webkit-transition: none;
    transition: none;

}

    html {
        background-color: black;
    }

#background {
  background-color:
}
/*
*******************************************
* = FOLD CSS
******************************************
*/
@media  (min-width: 770px){
    .main-header, .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;


    }

    span {
      display: none;
    }

    .mobile-nav {
      display: none;
    }
}



@media  (max-width:769px){
      .name {
      display: none;
}

      .tertiary {
        display: none;
  }

    .main-nav {
      display: none;
  }

    .mobile-nav{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: #fff;
      background-color: #101423;

}




    .mobile-name h2  {

      color: #fff;


    }

    span{
      margin-top: 5%;
      font-size: 1.5em;
      color: #69bd45;
      font-family: 'Roboto Mono', monospace;
      font-weight: 500;
      cursor:pointer;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
 }

     .pseudover.v2:after, .pseudover.v2:hover:before {
      display: none;
    }



}


/*
*******************************************
* = END OF FOLD CSS
*******************************************
*/

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li
{
    list-style-type: none;
    margin: 0;
}


h1 {

font-family: 'Droid Sans Mono';
 font-weight: 500;

}



h2 {
font-family: 'Droid Sans Mono';
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  margin-top: 0;
  margin-bottom: auto;
}

h3, a {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  text-align: center;
  color: #2f2d2e;
}

h3 a:hover {
  color: #2f2d2e;
}
a {
  text-decoration: none;
}

h4 {
  font-family: 'Roboto Slab', monospace;
  font-weight: 500;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 1px;
  color: ;
}

h5 {
  font-size: 1em;
  font-family: inherit;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

p   {
  font-size: 0.8em;
  font-family: 'Roboto Mono';
}

/*h2 .mobile-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;

}*/

.mobile-name {
  text-indent: -9999px;
   width: 250px;
   height: 70px;
   background: url(../img/header-mobile.png) #101423 no-repeat;
   margin-top: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}

.mobile-name a:hover {
  color: #2f2d2e;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:active {
  color: #2f2d2e;
}


/* ---- Navigation ---- */

.name {
   text-indent: -9999px;
   width: 400px;
   height: 70px;
   background: url(../img/header.png) #101423 no-repeat;
     -webkit-tap-highlight-color: rgba(0,0,0,0);


}
.main-nav {
  margin-top: 35px;


}
.name a,
.main-nav a{
  font-family:'Droid Sans Mono', monospace;
  font-weight: 500;
  text-align: center;
  display: block;
  padding: 10px 15px;
  color: #FEFEFE;
  font-weight: 500;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  border-style: none;
  outline: none;

}
.main-nav a {
  font-size: .95em;
  color: #69bd45;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}
.main-nav, a:hover {
  color: #fcdf1e;
  -webkit-transition:.5s;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}

a.active {
  color:#fcdf1e;

}


/* ---- =Mobile-nav ---- */

/*
test-nav*/

.main {
  width:100%;
  margin:50px 0;
  text-align:center;

}
.content {
  text-align:left;
  margin:25px 0;
}
.content-text {
  margin:0 0 15px;
}
/* Navigation styling */
.nav {
  position:relative;
  display:inline-block;
  font-size:14px;
  font-weight:900;
}
.nav-list {

}


.nav-item {
  float:left;
  *display:inline;
  zoom:1;

}
.nav-item a {
  display:block;
  padding:15px 20px;
  color:#69bd45;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 1rem;
  border-top: 0.5px solid black;


}
.nav-item:first-child a {
  border-radius:5px 0 0 5px;
}
.nav-item:last-child a {
  border-radius:0 5px 5px 0;
}
.nav-item a:hover {
  /*background:#2C3E50;*/
}


/* Mobile Navigation */
.nav-mobile {
  display:none; /* Hide from browsers that don't support media queries */
  cursor:pointer;
  position:absolute;
  top:0;
  right:0;
  background: url(../img/menu2.png) no-repeat center center;
  height:40px;
  width:40px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav-mobile {
    display:block;
  }
  .nav {
    width:100%;
    padding:0;
  }
  .nav-list {
    display:none;
  }
  .nav-item {
    width:100%;
    float:none;
  }
  .nav-item a {
    padding:10px;
  }

  .nav-item a:hover {
    color: #fcdf1e;
  }
  .nav-item:first-child a {
    border-radius:5px 0 0;
  }
  .nav-item:last-child a {
    border-radius:0 0 5px 5px;
  }
  .nav-active {
    display:block;
  }
  .nav-mobile-open {
    border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
  }
}


/*end of mobile-nav*/
/* ---- Layout Containers ---- */

.main-header {
  background-color: #101423;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

/*  border-bottom: 1px solid lightgray;*/



/*
*************
* =HERO
*************
*/

@-webkit-keyframes scale-in {
     0%   {-webkit-transform: scale(10, 10);transform: scale(10, 10); opacity: 0;}
    100% {-webkit-transform: scale(1, 1);transform: scale(1, 1); opacity: 1;}
}

@keyframes scale-in {
    0%   {-webkit-transform: scale(10, 10);transform: scale(10, 10); opacity: 0;}
    100% {-webkit-transform: scale(1, 1);transform: scale(1, 1);  opacity: 1;}
}
/*/*==========ROLL-OUT==========*/
@-webkit-keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}
@keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}



.main{
  width: 100%;
  overflow: hidden;
  font-family: inherit;

}
.hero{

  width: 1920px;
  max-width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  position: relative;
  color: #fff;
}

.hero h1{
  font-size: 2.1em;
  margin: auto;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: #fff;
}
.hero p{
  font-size: 1.5em;
  margin: auto;
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  bottom: 0;
   z-index: 1;
   color: #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.hero p:hover {
  color: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}

.hero p:visited {

     color: #fff;
}


.hero-desktop img{
  width: 100%;
}

.hero h1, .hero p{
  -webkit-animation: scale-in 1s ease-out;
    animation: scale-in 1s ease-out;
}



@media all and (max-width: 1200px) {



  .hero{
    height: 50vw;
  }

  .hero h1{
    font-size: 3vw;
    top: 5vw;
  }
  .hero p{
    font-size: 2vw;
    top: 20vw;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

  }

}

@media all and (min-width: 602px){

  #hero-mobile{
    display: none;
  }
}

@media all and (max-width: 602px) {

  #hero-desktop{
    display: none;
  }
  .hero{
    height: 130vw;
  }

  .hero h1{
    font-size: 4vw;
    top: 20vw;
  }
  .hero p{
    font-size: 3vw;
    top: 45vw;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

  }

}


/*
= contact image

*/

#contact-container{
    height: 80vh;

}

#contact-container h3 {
    padding-top: 2em;

}
.contact-text {
  height: 28em;
}
.contact-text h3 {
  font-size:  1.1em;
}


/*
*************
* =work page info
*************
*/

.workflow-text  {
    text-align: center;

}

.text-container {
  width: 45em;
  margin: 0 auto;
  padding: 2%;
}

@media (max-width: 769px) {
  .text-container{
      width: 30em;

  }

}

@media (max-width: 500px) {
  .text-container{
      width: 20em;

  }

}



/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
  .main-header{
    margin: 0 auto;
    max-width: 100%;

  }

}
@media (max-width: 769px) {
  .main-header{
  display: none;

  }

  .media__body {
    display: none;
  }

}




/*mobile-nav*/

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    -webkit-transition: 0s;
    transition: 0s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #69bd45;
    display: block; /* Display block instead of inline */
    -webkit-transition: 0.3s;
    transition: 0.3s; /* Transition effects on hover (color) */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #fcdf1e;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Position the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important; /* Override the font-size specified earlier (36px) for all navigation links */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .closebtn {
        font-size: 40px !important;
        top: 15px;
        right: 35px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
}



/*
*************
* =
*************
*/

.header h2, h3, h4 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

.header h2 {
  font-size: 5.0vh;

}

.header h3 {
  font-size: 2.5vh;
}

.header h4 {
  padding-top: 12%;
}





/*
*************
* = Work Content
*************
*/
@media only screen and (min-width: 480px) {
  .work-container{
        height: 80vh;
  }
}


.work-container {
  background-color: #efefef;

}


#services {
  padding-top: 5%;
  font-size: 2.5em;
  color: #000;
  font-family: 'Droid Sans Mono';
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}


/*  SECTIONS  */
.section {
  clear: both;
  padding-top: 1%;
  margin: 1.5em;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 0;
  padding: 1em;

}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
  width: 100%;
}
.span_3_of_4 {
  width: 75%;
}
.span_2_of_4 {
  width: 50%;
}
.span_1_of_4 {
  width: 25%;
}



/*  GRID OF THREE  */
@media  (max-width:1200px){



    .span_3_of_3 { width: 100%; }
    .span_2_of_3 { width: 66.66%; }
    .span_1_of_3 { width: 33.33%; }


}

  /*  GRID OF TWO  */
@media (max-width: 1200px) {

    .span_2_of_2 {
      width: 100%;
    }
    .span_1_of_2 {
      width: 50%;
    }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }

  .section {
  clear: both;
  padding: 0;
  margin: 1em;
}

  .col {
  display: block;
  float:left;
  margin: 0;
  padding: 1em 0 0 0;

}

}


img {
  height: 100%;
  width: 100%;
}

/*
*************
* =Overlay
*************
*/
*,
*:after,
*:before {
  box-sizing: border-box;


}

.media {
  display: inline-block;
  position: relative;
  vertical-align: top;

}

.media__image { display: block; }

.media__body {
  background: #101423;
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 3em 3em;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-family: 'Roboto Mono'

}

.media__body:hover { opacity: 1; }

.media__body:after,
.media__body:before {
  border: 1px solid rgba(255, 255, 255, 0.7);
  bottom: 1em;
  content: '';
  left: 1em;
  opacity: 0.7;
  position: absolute;
  right: 1em;
  top: 1em;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.6s 0.2s;
  transition: 0.6s 0.2s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}

.media__body:before {
  border-bottom: none;
  border-top: none;
  left: 2em;
  right: 2em;

}

.media__body:after {
  border-left: none;
  border-right: none;
  bottom: 2em;
  top: 2em;
}

.media__body:hover:after,
.media__body:hover:before {
  -webkit-transform: scale(1);
  transform: scale(1);

}


.media__body h2 { margin-top: 0;
color: #69bd45;
font-family: inherit;
font-size: 2.3vh;
}

.media__body p {
  font-family:'Roboto Mono';
  font-size: 1.4vh;
  color: #fff
}








.media:nth-child(2) .media__body { background: rgba(16, 20, 35, 0.9); }

.media:nth-child(3) .media__body { background: rgba(16, 20, 35, 0.9); }

.media:nth-child(4) .media__body { background: rgba(16, 20, 35, 0.9); }

.media:nth-child(5) .media__body { background: rgba(16, 20, 35, 0.9); }

.media:nth-child(6) .media__body { background: rgba(16, 20, 35, 0.9); }


/*
*************
* =Be creative
*************
*/
h1, p {
  text-align: center;
  color: #2f2d2e;
}
.work-text h2{

  padding-top: 2%;
  font-size: 2.5em;
  color: #000;
  font-family: inherit;


}

.work-text p {
  padding-top: 1%;
  max-width: 40em;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto Mono';
  font-weight: 400;
  padding-bottom: 1%;
}






.desktop-site {
   margin: 0 auto;
    width: 800px;
    max-width: 90%;

}

@media all and (max-width: 960px){

  .work-text p {
    max-width: 90%;
  }
  .desktop-site {
    display: none;
  }

  .be-fold-item1 {
  max-width:100%;
  margin: 0 auto;
}


}



.desktop-site img {

  width: 100%;
  height: auto;
  padding: 1%;



}

.desktop-site-mobile {
   margin: 0 auto;
    width: 427px;
    max-width: 90%;

}

.desktop-site-mobile img {

  width: 100%;
  height: auto;
  padding: 1%;



}
@media all and (min-width: 960px){

.desktop-site-mobile {
  display: none;
  }

  .be-fold-item1 {
    max-width:100%;
    margin-right: 7%;
}
}




/*
*************
* = Offshore rides
*************
*/


.offshore-fold-item {

  max-width: 100%;

}

@media all and (max-width: 800px){
  .offshore-fold-item{
    display: none;
  }
}


@media all and (min-width: 800px){
  .offshore-fold-mobile{
    display: none;
  }
}


.offshore-logo {
   margin: 0 auto;
    width: 600px;
    max-width: 90%;

}
.mobile-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}



.two-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

}

.offshore-phones{
  margin: 2%;
}


.desktop-site-offshore {
   margin: 0 auto;
    width: 960px;
    max-width: 90%;

}

@media all and (max-width: 960px){


.desktop-site-offshore {
    display: none;
  }
}



.desktop-site-offshore img {

  width: 100%;
  padding: 1%;

}

.desktop-site-mobile-offshore {
   margin: 0 auto;
    width: 800px;
    max-width: 90%;

}

.desktop-site-mobile-offshore img {

  width: 100%;
  padding: 1%;



}
@media all and (min-width: 960px){

.desktop-site-mobile-offshore {
  display: none;
  }
}


.background {
          background-color: #E0EBE8;

  }

/*
*************
* =Birdy
*************
*/
.desktop-site-bird {
   margin: 0 auto;
    width: 1200px;
    max-width: 90%;

}

.desktop-site-bird img {

  width: 100%;
  padding: 1%;

}

@media all and (max-width: 960px){


.desktop-site-bird {
    display: none;
  }
}




  /*
  *************
  * =Workflow
  *************
  */

  .workflow {
   margin: 0 auto;
    width: 600px;
    max-width: 90%;

}

.workflow-top {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 3em;
  font-size: 1.1em;
   font-family: Futura;

}

.workflow-words{
  text-align: center;
  margin-bottom: 0px;
  font-size: 1.1em;
   font-family: Futura;
}

.more-work {
  padding: 1%;
}

.btn {
  border-radius: 28px;
  font-family: Arial;
  color: #2f2d2e;
  font-size: 20px;
  /*background: #101423;*/
  padding-top: 2px;
  text-decoration: none;
  width: 8em;
  height: 2em;
  margin: 0 auto;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
  border: solid 2px;
  border-color: #101423;

}

.btn:hover {
 opacity: 0.7;
  text-decoration: none;
  -webkit-transition:.5s;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}




/*
*************
* =About
*************
*/
#hero-about {

 max-width: 100%;
 padding-bottom: 1%;
}

.headshot {

 max-width: 10em;
 margin: 0 auto;
}

.headshot img {
  border:1px solid #;
border-radius: 20px;
}

.about-text h2{

  padding-top: 1%;
  font-size: 2.5em;
  color: #000;
  font-family: inherit;


}

.about-text p {
  max-width: 40em;
  margin: 0 auto;
  text-align: left;
  font-size: 1.1em;
  font-family: 'Roboto Mono';
  font-weight: 400;
  padding-bottom: 2%;
}

@media all and (max-width: 800px){

  .about-text p{
  max-width: 90%;
}

}

/*
*************
* = contact page
*************
*/

.contact-text h2{

  padding-top: 2%;
  font-size: 2.5em;
  color: #000;
  font-family: inherit;


}

.contact-text p {
  padding-top: 2%;
  max-width: 40em;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto Mono';
  font-weight: 400;
  padding-bottom: 1%;
}

.contact-text a {

  font-family: 'Roboto Mono';
  font-size: 1.2em;
  font-weight: 600;

}

.form-heading p {
  max-width: 40em;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto Mono';
  font-weight: 400;


}

@media all and (max-width: 800px){

  .contact-text p{
  max-width: 90%;
}

}

.form-containter {
    display:block;
    margin:0 auto;
    width:576px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: #999;
    max-width: 96%;
}


/* Labels are titles for the text fields. You can use a placeholder instead if you like*/
label
{
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Centres the form within the page */
form
{
    margin:0 auto;
    width:459px;
    max-width: 90%;
}

/* Styles the text boxes */
input, textarea, file {
  width:439px;
  height:40px;
  background-color:#fff;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:1px solid #36434c;
  padding:10px;
  margin-top:3px;
  font-size:0.9em;
  color:#3a3a3a;
  max-width: 96%;
}

  input:focus, textarea:focus {
    border:1px solid ;
  }

/* Styles the text area boxes (message field) */
textarea
{
  height:213px;
  background-color: #fff;
    max-width: 96%;
}


/* Styles the submit button */
#submit {
  /* background:url(images/submit.png); */
  width:127px;
  height:48px;
  text-align: center;
  /* text-indent:-9999px; */
  border:1px solid #36434c;
  margin-top:20px;
  cursor:pointer;
  margin-bottom: 10px;
}

/* Styles the submit hover */
#submit:hover {
  color:#fff;
  background-color: #69bd45;
  opacity:0.9;
}

 /*
  *************
  * =flexing
  *************
  */

#main {
   margin: 0;
   padding: 0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-flow: row;
       flex-flow: row;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}

header,
footer,
#main > article,
#main > nav,
#main > aside {

   padding: 1em;
}

#main > article {
   -webkit-box-flex: 0;
       -ms-flex: 0 0 55%;
           flex: 0 0 55%;
   -webkit-box-ordinal-group: 3;
       -ms-flex-order: 2;
           order: 2;
           -webkit-box-orient: horizontal;
           -webkit-box-direction: normal;
               -ms-flex-direction: row;
                   flex-direction: row;

}

#main > nav{
   -webkit-box-flex: 0;
       -ms-flex: 0 0 20%;
           flex: 0 0 20%;
}


#main > aside {
   -webkit-box-flex: 0;
       -ms-flex: 0 0 15%;
           flex: 0 0 15%;
}
#main > nav {
   -webkit-box-ordinal-group: 2;
       -ms-flex-order: 1;
           order: 1;

}

#main > aside {
   -webkit-box-ordinal-group: 4;
       -ms-flex-order: 3;
           order: 3;

}







  @media all and (max-width: 1000px) {
    .fold-item2 {
    display: none;
}

  }
 @media all and (max-width: 900px) {
#main > aside {
    display: none;
}



}
/* Too narrow to support three columns */
  @media all and (max-width: 900px) {





   #main, #page {
    -ms-flex-flow: column;
        flex-flow: column;
}

   #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
   }

       #main > nav {
   -webkit-box-ordinal-group: 1;
       -ms-flex-order: 0;
           order: 0;
           margin-bottom: 0;
}

        #main  {
   -webkit-box-ordinal-group: 2;
       -ms-flex-order: 1;
           order: 1;

}

#main > article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    margin-top: 0;

}

/*   #main > nav, #main > aside, header, footer {
    min-height: 50px;

   }*/
}

  @media all and (min-width: 900px) {
#main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
}


}




.fold-item1 {
  max-width:100%;
  margin-right: 7%;
}

.fold-item2 {
  max-width:100%;

}

.left-right{
  text-align: center;
  margin-bottom: 2%;
}

.button {
    background-color:#101423;
    border: none;
    color: #69bd45;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 0px;
    cursor: pointer;


}

.btn {
  font-family: inherit, serif;
}


/*
*************
* =back to top
*************
*/
.backtotop {
    text-align: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.fa-chevron-up:before {
    color: #101423;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

.backtotop a:hover {
    color: #101423;
    opacity: 0.7;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

/*
*************
* =footer
*************
*/

footer {
    background-color: #101423;
    text-align: center;
    clear: both;

}

footer p {
    color: #69bd45;
    font-weight: 400;
    font-size: 0.7em;
    font-family: 'Roboto Mono';

}

footer i {
    color: #69bd45;
    padding-left: 0.5em;
}

footer i:hover {
    color: inherit;
    -webkit-transition:.5s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

@media screen and (max-width: 480px) {
    footer  {
        font-size: 0.8em;
    }
}



hr {
  width: 15em;
  opacity: 0.4;
}
